<h1>POST Request Recieved</h1>
<table>
	{{#each data}}
	<tr>
		<td>{{this.name}}</td>
		<td>{{this.value}}</td>
	</tr>
	{{/each}}
</table>

<table>
	{{#each data2}}
	<tr>
		<td>{{this.name}}</td>
		<td>{{this.value}}</td>
	</tr>
	{{/each}}
</table>
